/* elements */
body {
    color: #eee;
    background: #172e30;
    margin: 0;
}
body a {
    color: #809fff;
}
body button {
    color: #eee;
    border-style: solid;
    border-radius: 3px;
    background-color: #15292B;
}
* {
    font-family: sans-serif;
    text-align:center;
    align-items: center;
}
button {
    border-style: solid;
    border-radius: 3px;
    
}

/* ids */
#header {
    background-color: #132527;
    padding: 5px;
}

#nav {
    overflow: hidden;
    background-color: #15292b;
}
#nav a {
    float: left;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
}
#nav a:hover {
    background-color: #132527;
}

#footer {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #132527;
    padding: 5px;
}

/* classes */
.footerText {
	display: inline-block;
	vertical-align: top;
    padding: 0px 20px;
}