@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap'); /* adds lato font */

/* elements */
body {
    color: rgb(212, 212, 212);
    background-color: rgb(46, 46, 46);
    font-family: "Lato";
    text-align: center;
    align-items: center;
}
a {
  color: rgb(99, 99, 185);
}
a:visited {
  color: rgb(127, 68, 182);
}

/* classes */
.timg {
  border-radius: 3px;
}


/* nav bar stuff */
ul.nav {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-color: rgb(51, 51, 51);
	height: 100%;
}

li.nav {
	float: left;
}

li.nav a {
	display: block; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none;
}

li.nav a:hover {
	background-color: rgb(29, 29, 29);
}
