@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap'); /* adds lato font */

body {
	font-family: "Lato";
	color: rgb(212, 212, 212);
	background-color: rgb(46, 46, 46);
	text-align: center;
	align-items: center;
}

a {
	color: rgb(99, 99, 185);
	text-decoration: none;
}

a:visited {
	color: rgb(127, 68, 182);
}

select {
	text-align: center;
	font-family: "Lato";
	font-size: 18.72px;
	width: 260px;
	height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(35, 35, 35);
	margin: 10px 0 10px 0;
	color: rgb(212, 212, 212);
	background-color: rgb(56, 56, 56);

	/* for disabling the arrow */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input {
	text-align: center;
	font-family: "Lato";
	font-size: 18.72px;
	width: 260px;
	height: 35px;
	margin 10px 0 10px 0;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(35, 35, 35);
	color: rgb(212, 212, 212);
	background-color: rgb(56, 56, 56);
}

#equals {
	margin: 10px 10px 10px 10px;
}

#to {
	margin: 10px 10px 10px 5px;
}

#inputsDiv {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: baseline;
}

#energySelDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: baseline;
}

/* nav bar stuff */
ul.nav {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-color: #333;
}

li.nav {
	float: left;
}

li.nav a {
	display: block; 
	text-align: center; 
	padding: 14px 16px; 
}

li.nav a:hover {
	background-color: #111;
}

/* Removes arrows from number input for chrome safari edge opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes arrows from number input for firefox */
input[type=number] {
  -moz-appearance: textfield;
}

