* {
    font-family: sans-serif;
    text-align:center;
    align-items: center;
}

body {
    --text-color: #222;
    --bkg-color: #fff;
}
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
}
  
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --text-color: #eee;
        --bkg-color: #121212;
    }
    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
    }
}

body {
    background: var(--bkg-color);
}
  
h1, p {
    color: var(--text-color);
}
ul{
    list-style-type: none;
}
li {
    text-align: left;
    padding-left: 2em;
    text-indent: -2em;
}
#projectList {
    display: table;
    padding: 7px;
    border: 1px solid ;
    font-size: 95%;
}

