/* light mode */
body {
    color: #222;
    background: #fff;
}
a {
    color: #0033cc;
}

/* dark mode */
body.darkMode {
    color: #eee;
    background: #121212;
}
body.darkMode a {
    color: #809fff;
}
body.darkMode button {
    color: #eee;
    border-style: solid;
    border-radius: 3px;
    background-color: #121212;
}

* {
    font-family: sans-serif;
    text-align:center;
    align-items: center;
}
button {
    border-style: solid;
    border-radius: 3px;
}
.project {
    margin-bottom: 0px;
    margin-top: 0px;
}
#projectListTitle{
    margin-top: 5px;
}
#projectList {
    display:inline-table;
    padding: 7px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    font-size: 95%;
}